* {
  font-family: "open sans";
}

a {
  color: #51b6ff;
}

.main-image > img {
  width: 90%;
  padding: 10%;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.title-text {
  text-align: center;
  padding: 15%;
}
