* {
  font-family: courier;
}

small {
  display: inline-block;
  top: 20px;
  font-size: 12pt;
  transform: rotate(45deg);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-text {
  text-align: centre;
}
